<% content_for :js do %>
    <%= javascript_include_tag "search" %>
<% end %>

<% content_for :meta do %>
    <meta name="description" content="Поиск" />
    <meta name="keywords" content="Поиск" />
<% end %>

<!-- <input id="searcher" type="text" class='searcher-input input-empty' onkeydown="if(event.keyCode == 13) { search.searchByName($(this)) }">-->

<div class="box sorting-box">
    <span class="sorting-title">Сортировка</span>
    <span onclick='search.sort("price", 1)' class="btn">По цене</span>
    <span href="javascript: void(0)" onclick="search.sort('brand', 0, 1)" class="btn">По производителю</span>
</div>

<div class="box-category"></div>

<script type="text/javascript">

    $(function(){
        var searcher = $('#searcher'), searchStr = "Поиск по названию";

        searcher.focus(function(){ focusInput(searchStr, $(this)) });
        searcher.blur(function(){ checkInput(searchStr, $(this)) });

        searcher.val(searchStr).addClass("input-empty");

        search.prod = {
            <% @categories.each do |al| %>
                <% al.products.each do |p| %>
                    <%= p.id%> : {
                        title: "<%= p.title%>",
                        price: "<%= p.value_price%>",
                        type: "<%= p.value_type%>",
                        img: "<%= p.img_product_url(:thumb).to_s %>",
                        desc:"<%= escape_javascript(raw p.description) %>",
                        brand: "<%= escape_javascript(raw p.brand)%>",
                        category: "<%= escape_javascript(p.category.name)%>",
                        status: "<%= p.status%>",
                        filter_html: "<% if(!p.arr_val.blank?) %> <div class='product-filters'> <% p.arr_val.each do |fil| %> <% filter = @filter_obj[fil[0].to_i] %> <% if !filter.blank? %> <span class='btn btn-<%=(rand(3)+1)%>'><%= filter[fil[1]]%></span> <% end %> <% end %> </div> <% end %>",
                        discount: "<%=raw p.discount.blank? ? '0' : p.discount%>",
                        user: "<%= p.user_id%>"
                    } <%=(al == @categories.last && p == al.products.last) ? "" : "," %>
                <% end %>
            <% end %>
        };

        search.init();

    });
</script>
